 <!-- Top Header -->
 <header class="top-header">
    <div class="logo">Follow Us On Soial Media</div>
    <nav class="top-nav">
      <a href="#">FB</a>
      <a href="#">Instagram</a>
      <a href="#">Youtube</a>
    </nav>
  </header>
  
<!-- Main Header -->
<header class="main-header">
    <div class="header-left">
      <img src="static/images/download.png" alt="Logo" class="nav-logo">
      <h1>DisciplineEstimate</h1>
      <button class="mobile-menu-btn">☰</button>
    </div>
  
    <nav class="main-nav">
      <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
      <a href="/about" class="{% if request.path == '/about' %}active{% endif %}">About</a>
      <a href="/stats" class="{% if request.path == '/stats' %}active{% endif %}">Stats</a>
    </nav>
  
    <div class="search-container" style="position: relative; width: 300px;">
      <form action="/search" method="GET" class="desktop-search-form" style="display: flex; align-items: center; width: 100%;">
          <input type="text" class="search-bar" name="query" placeholder="Search pages..." 
                 style="width: 100%; padding: 0.6rem 1rem; border: 2px solid #ccc; border-radius: 50px; outline: none; transition: all 0.3s; border-color: #3A86FF;">
         
                 <button type="submit" class="desktop-search-btn" aria-label="Submit Search">
                  <span  class="search-icon fas fa-search" 
                  style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); color: #888; cursor: pointer;"></span>
              </button>
                
      </form>
  </div>
  
  
</header>
  

  